.MV {
  background-color: cornflowerblue;
  grid-template: 1fr 1fr;
}

.card {
  width: 5vw;
  height: 7vh;
  text-align: center;
}
.img-sec {
  width: 100%;
  height: 45%;
}
.info-sec {
  width: 100%;
  height: 55%;
}
